form(name="signupForm", ng-controller='AuthController', ng-submit='signup(signupForm.$valid)', novalidate)
    div
        label(for="username") Username
        input(type="text", name="username", placeholder="username", ng-model='user.username', ng-maxlength='10', required)
    div
        label(for="firstname") Firstname 
        input(type="text", name="firstname", placeholder="Firstname", ng-model='user.firstname', required)
    div
        label(for="lastname") Lastname 
        input(type="text", name="lastname", placeholder="Lastname", ng-model='user.lastname', required)
    div
        label(for="email") Email 
        input(type="email", name="email", placeholder="youremail@email.com", ng-model='user.email', required)
        p(ng-show='signupForm.email.$error.required && signupForm.email.$touched') Email is invalid.
    div
        label(for="password") Password 
        input(type="password", name="password", placeholder="Password", ng-model='user.password', ng-minlength='6')
    div
        input(type="submit", value="Sign up", ng-disabled='signupForm.$invalid')
div
    a(href="/oauth/facebook") Log in with Facebook
div
    a(href="/oauth/google") Log in with Google 
