doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/main.css")
    body
        if username
            h2 Hello #{username}
            div
                form(action="/logout", name="logout", method="post")
                    input(type="submit", value="Log out")
        else
            div
                a(href="/signup") Sign up
            div
                a(href="/login") Log in

        div#mainApp(ng-include="'/modules/hello/views/hello.client.view.jade'")
        script(src="/lib/angular/angular.min.js", type="text/javascript")
        script(src="/modules/hello/hello.client.module.js", type="text/javascript")
        script(src="/modules/hello/controllers/hello.client.controller.js", type="text/javascript")
        script(src="/modules/hello/filters/hello.client.filter.js", type="text/javascript")
        script(src="/application.js", type="text/javascript")